* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
}

main {
    max-width: 1200px;
    height: 1000px;
    margin: auto auto;
    display: flex;
    /* justify-content: center; */
    background-color: #F5F7FB;
}